.app-footer {
  width: 100%; //
  font-weight: 400;
  background-color: $color-grey;
  color: $color-light;

  display: flex;
  flex-direction: column;
  justify-content: center; //class="d-flex justify-content-center"
  align-items: center;

  padding: 12px 24px; // p-5 ~ 13px

  .footer-info-section,
  .site-brands,
  .footer-bottom {
    //<div class="footer-copyright >
    margin-top: 4px; //mt-4
    margin-bottom: 4px; //mb-4
    width: 100%; //class="w-100"
    display: flex; //class="d-flex"
    flex-direction: row; // class="d-flex flex-row"
    justify-content: space-between;
    align-items: center;
  }

  .site-brands {
    padding: 12px;
    background-color: $color-goldenrod; //class="bg-primary text-white"
    justify-content: space-around;

    .brand {
      flex: 1;
      text-align: center;

      &:not(:last-child) {
        border-right: 2px solid $color-grey;
      }
    }
  }

  .footer-bottom {
    justify-content: center;

    .site-copy-rights {
      padding: 4px 16px; //class="py-4"
      border-radius: 8px;
      background-color: $color-dodgerblue; //class="bg-primary text-white"
    }
  }
}
